<div class="container-fluid">
  <section class="forecastHeading">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5">
          <h2>Weather in your city</h2>
        </div>

        <div class="col-md-7">
          <div [formGroup]="weatherSearchForm">
            <div class="searchBox">
              <input type="text" placeholder="Enter your city Name" class="form-control" formControlName="location">
              <button type="submit" class="form-control btn btn-primary btn-md ml-3" (click)="weatherData()" [disabled]="!weatherSearchForm.valid"><span><i
                    class="fa fa-question-circle" aria-hidden="true"></i></span>&nbsp;Search</button>
              <div class="spinner-border ml-3" role="status" *ngIf="loader">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf = "nodataFound">
    <h4 align="center" class="mt-8">No data found</h4>
  </section>

  <section class="forecastData">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 col-lg-3 col-xl-3 col-sm-12" *ngFor="let data of weatherforecastData">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td colspan="2" class="forecastDate"><b>DATE</b>: {{data?.dt_txt}}</td>
              </tr>
              <tr>
                <td colspan="2" class="forecastTemprature"><b>Temparature</b>: {{data?.main?.temp}}</td>
              </tr>
              <tr>
                <th class="forecastTemprature">Min</th>
                <th class="forecastTemprature">Max</th>
              </tr>
              <tr>
                <td class="forecastTemprature">{{data?.main?.temp_min}}</td>
                <td class="forecastTemprature">{{data?.main?.temp_max}}</td>
              </tr>
              <tr>
                <th>Pressure</th>
                <td>{{data?.main?.pressure}}</td>
              </tr>
              <tr>
                <th>Humidity</th>
                <td>{{data?.main?.humidity}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>